* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

body {
    color: #5d4c52;
    background-color: #b8a7aa;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
}

header {
    display: flex;
    justify-content: space-between;
}

h2 {
    text-align: center;
    font-family: "Nunito", sans-serif;
}

.center {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.texta {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    text-align: center;
    color: #5d4c52;
}

#featured-video {
    display: block;
    margin: 0 auto;
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
}

video {
    width: 100%;
}

footer {
    position: absolute;
    background: #5d4c52;
    height: auto;
    width: auto;
    font-family: "Nunito";
    padding-top: 40px;
    color: #b8a7aa;
}

.footer-content {
    background-color: #5d4c52;
    height: auto;
    width: 100vw;
    font-family: "Nunito";
    padding-top: 40px;
    color: #b8a7aa;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h2 {
    font-size: 1.8rem; 
    font-weight: 200;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-family: "Nunito";
    font-size: 14px;
} 

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
    color: #b8a7aa
}

.socials a {
    text-decoration: none;
    color:#b8a7aa;
}

.socials a i {
    font-size: 1.1rem;
    color: #b8a7aa;
    transition: color .4s ease;
}

.socials a:hover i {
    color: cyan
}

.footer-bottom {
    background: #5d4c52;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    display: flex;
    align-items: center;
    justify-content: center;
}