* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

body {
    color: #F8F0E3;
    background-color: #24252A;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
}

header {
    display: flex;
    justify-content: space-between;
}

h2 {
    text-align: center;
    font-family: "Nunito", sans-serif;
}

.center {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.texta {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    text-align: center;
    color: #F8F0E3;
}

#featured-video {
    display: block;
    margin: 0 auto;
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
}

video {
    width: 100%;
}

footer {
    background-color: ;
}

.footer-content {
    background-color: #F8F0E3;
    height: auto;
    width: 100vw;
    font-family: "Nunito";
    padding-top: 40px;
    color: black;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h2 {
    font-size: 1.8rem; 
    font-weight: 200;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-family: "Nunito";
    font-size: 14px;
}